In [1]:
a = 20
b = 75.95
print(a, b)
print(type(a), type(b))

20 75.95
<class 'int'> <class 'float'>

In [2]:
x = 20
y = 6
print(x/y)
print(x//y) #truncated

3.3333333333333335
3

In [7]:
nama = 'Sample'
print(nama)
print(nama[3])
print(nama[1:3])
print(nama[-1])
print(nama+"coba")
print(nama*3)

Sample
p
am
e
Samplecoba
SampleSampleSample

In [14]:
data = "latihan python 3"
nilai = "35"
isi = " "
nama = "Someone"

print(data)
print(data.upper()) #mengubah jadi huruf kapital
print(data.capitalize())
print(data.isspace()) #cek jikq isinya hanya spasi
print(isi.isspace())
print(nilai.isnumeric()) #cek jika isinya angka (meski berbentuk char)

print(nama.swapcase())
print(nilai*3)

latihan python 3
LATIHAN PYTHON 3
Latihan python 3
False
True
True
sOMEONE
353535

In [18]:
isi = "Training Python"
print(isi.find("n")) #cari huruf n dari awal karakter
print(isi.find("n", 7)) #cari huruf n dari karakter ke-7

4
14

In [24]:
nama = "adam asshidiq"
print(nama.upper())
print(nama.capitalize())
print(nama.title())
print(nama.center(50, "-"))

ADAM ASSHIDIQ
Adam asshidiq
Adam Asshidiq
------------------adam asshidiq-------------------

In [23]:
nomor1 = "789"
nomor2 = "35"

print(nomor1.zfill(7))
print(nomor2.zfill(7))

0000789
0000035

In [27]:
judul1 = "latihan"
judul2 = "training"
print(judul1.center(10, '-'))
print(judul2.center(10, '-'))
print(judul1.replace('a', 'x'))

-latihan--
-training-
lxtihxn

In [32]:
import string
kode1 = "aeios"
kode2 = "43105"
kata = "Testing kode saja"
ubah = kata.maketrans(kode1, kode2)
print(kata)
print(ubah)
print(kata.translate(ubah))

Testing kode saja
{97: 52, 101: 51, 105: 49, 111: 48, 115: 53}
T35t1ng k0d3 54j4